.App {

}

.Header {
  height: 15vh;
  width: 100vw;
  margin: 0 0 0 0;
  top: 0px;
  background-color: white;
  text-align: center;
}

.Footer {
  height: 5vh;
  width: 100vw;
  margin: 0 0 0 0;
  position: fixed;
  bottom: 0px;
  background-color: white;
  text-align: center;
  font-size: 10px;
}

.pfooter {
  text-align: center;
  border-top: solid 1px black;
  padding-top: 12px;
  width: 75vw;
  margin: auto;
  opacity: 0.7;
}

.pheader {
  text-align: center;
  border-bottom: solid 1px black;
  padding-top: 25px;
  width: 75vw;
  margin: auto;
  padding-bottom: 10px;
  font-size: 30px;
  opacity: 0.7;
}

.SearchDiv {
  height: 30vh;
  width: 74vw;
  background-color: white;
  opacity: 0.95;
  position: fixed;
  left: 13vw;
  display: inline-block;
  z-index: 1;
}

.Input {
  position: absolute;
  height: 5vh;
  width: 15vw;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
  font-size: 17px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  outline: none;
  text-transform: uppercase;
}

.Button {
  position: absolute;
  height: 7vh;
  width: 15vw;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 65%;
  font-size: 20px;
  background-color: white;
  border: 1px solid #4c4c4c;
  color: #4c4c4c;
  outline: none;
  cursor: pointer;
}

.Button:hover {
  background-color: #4c4c4c;
  color: white;
}

.Cross {
  position: absolute;
  right: 30px;
  top: 15%;
  cursor: pointer;
}