.App {

}

.Header {
  height: 15vh;
  width: 100vw;
  margin: 0 0 0 0;
  top: 0px;
  background-color: white;
  text-align: center;
  font-size: 20px;
}

.Footer {
  height: 5vh;
  width: 100vw;
  margin: 0 0 0 0;
  position: fixed;
  bottom: 0px;
  background-color: white;
  text-align: center;
  font-size: 10px;
}

.pfooter {
  text-align: center;
  border-top: solid 1px black;
  padding-top: 12px;
  width: 10vw;
  margin: auto;
}

.pheader {
  text-align: center;
  border-bottom: solid 1px black;
  padding-top: 20px;
  width: 10vw;
  margin: auto;
}

