.RightBar {
    width: 13vw;
    height: 70vh;
    right: 0px;
    margin: 0 0 0 0;
    /* background-color: azure; */
    background-color: white;
    display: inline-block;
    position: fixed;
    text-align: center;
}

.SelDiv {
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    top: 50%;
    left: 50%;
    width: 10vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* background-color: aquamarine; */
    background-color: white;
    position: absolute;
    /* opacity: 0.6; */
    z-index: 1;
    color: #4c4c4c;
}

.Line {
    border-right: gray solid 1px;
    height: 33vh;
    bottom: 0px;
    right: 50%;
    position: absolute;
    left: 6.5%;
}

.User {
    color: #4c4c4c;

}