.LeftBar {
    width: 13vw;
    height: 70vh;
    left: 0px;
    background-color: white;
    display: inline-block;
    text-align: center;
}

.SelDiv {
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    position: absolute;
    width: 10vw;
    top: 50%;
    left: 6.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
}

.Search {
    top: 0px;
    position: absolute;
    top: 20%;
    left: 5.5%;
    height: 20px;
    cursor: pointer;
}



