.NavDiv {
    width: 100vw;
    height: 15vh;
    /* background-color: lightcoral; */
    background-color: white;
    margin: 0 0 0 0;
    position: fixed;
    bottom: 0;
    align-content: center;
}

.center {
    position: absolute;
    width: 40vw;
    left: 50%;
    top: 25%;
}

.TagHeader {
    font-size: 20px;
    display: inline-block;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

.imgl {
    display: inline-block;
    margin-right: 50px;
}

.imgr {
    display: inline-block;
    margin-left: 50px;
}

.LineLeft {
    border-right: gray solid 1px;
    height: 12vh;
    top: 0px;;
    left: 6.5vw;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.LineRight {
    border-right: gray solid 1px;
    height: 12vh;
    top: 0px;;
    right: 93px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.LineRightVert {
    border-right: gray solid 1px;
    height: 12vh;
    top: 0px;;
    right: 93px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.LineLeftVert {
    border-right: gray solid 1px;
    width: 200px;
    top: 0px;
    right: 93px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}