.NavDiv {
    width: 100vw;
    height: 15vh;
    /* background-color: lightcoral; */
    background-color: white;
    margin: 0 0 0 0;
    position: fixed;
    bottom: 0;
    align-content: center;
}

.center {
    position: absolute;
    width: 40vw;
    left: 50%;
    top: 25%;
}

.TagHeader {
    font-size: 20px;
    display: inline-block;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.7;
}
