.SearchDiv {
    height: 30vh;
    width: 74vw;
    background-color: white;
    opacity: 0.95;
    position: fixed;
    left: 13vw;
    display: inline-block;
    z-index: 1;
    border-bottom: 1px solid black;
}

.Input {
    position: absolute;
    height: 5vh;
    width: 10vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    font-size: 17px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    outline: none;
    text-transform: uppercase;
}

.Button {
    position: absolute;
    height: 3vh;
    width: 20vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    font-size: 20px;
    background-color: white;
    border: none;
}

.Cross {
    position: absolute;
    right: 30px;
    top: 15%;
}