.Img {
    /* position: relative; */
    max-width: 18vw;
    /* height: 30vh; */
    display: inline-block;
    padding: 0.1vw;
    /* margin: auto; */
    top: 0px;
    transition: opacity .5s ease-in-out;
}

.Img:hover {
    opacity: 0.5;
}
